@import url(graphics.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Since this project is entirely based on Tailwind CSS, only a little bit of custom styles are needed. Hence, the custom styles for all the pages will be on this single CSS file (except graphics), which is always compiled by Tailwind to a main CSS file. */

/* Colors */
:root {
    --primary-bg-color: #161b22;
    --secondary-bg-color: #2e33bf;
    --secondary-bg-color-dark: #0d0f45;
    --alt-bg-color: #2e9cca;
    --alt-bg-color-dark: #0e5c7d;
    --alt-bg-color-2: #4d4f82;
    --alt-bg-color-3: #aaabb8;
    --alt-bg-color-4: #BBE1FA;
    --primary-text-color: #fff;
    --secondary-text-color: #BBE1FA;
    --alt-text-color: #5156e8;
    --alt-text-color-2: #bababa;
    --alt-text-color-3: #ffa1a1;
    --alt-text-color-4: #4dbceb;
    --primary-button-color: #2f7d23;
    --secondary-button-color: #9c471f;
    --disabled-button-color: #6b6b6b;
}

.bg-color-1 {
    background-color: var(--primary-bg-color);
}

.bg-color-2 {
    background-color: var(--secondary-bg-color);
}

.bg-color-2-dark {
    background-color: var(--secondary-bg-color-dark);
}

.bg-color-3 {
    background-color: var(--alt-bg-color);
}

.alt-bg-color{
    background-color: var(--alt-bg-color);
}

.alt-bg-color-dark {
    background-color: var(--alt-bg-color-dark);
}

.alt-bg-color-2 {
    background-color: var(--alt-bg-color-2);
}

.alt-bg-color-3 {
    background-color: var(--alt-bg-color-3);
}

.alt-bg-color-4 {
    background-color: var(--alt-bg-color-4);
}

.primary-text-color {
    color: var(--primary-text-color);
}

.secondary-text-color {
    color: var(--secondary-text-color);
}

.alt-text-color {
    color: var(--alt-text-color);
}

.alt-text-color-2 {
    color: var(--alt-text-color-2);
}

.alt-text-color-3 {
    color: var(--alt-text-color-3);
}

.alt-text-color-4 {
    color: var(--alt-text-color-4);
}

/* Header */
header {
    display: grid;
    flex-direction: column;
    padding: 0;
}
    
h1 {
    font-family: 'Cairo', sans-serif;
}

/* Social bar */
.social-bar {
    background-color: var(--alt-bg-color-3);
}

/* Fonts */
ul {
    font-family: 'Cairo', sans-serif;
}

/* 3-line navigation */
.hamburger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.burger-lines {
    width: 1.8rem;
    height: 2px;
    background: white;
    border-radius: 1px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.burger-lines::before, .burger-lines::after {
    content: '';
    position: absolute;
    width: 1.8rem;
    height: 2px;
    background: white;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    border-radius: 1px;
    transition: all .5s ease-in-out;
    margin-left: -14px;
}

.burger-lines::before {
    transform: translateY(-15px);
}

.burger-lines::after {
    transform: translateY(15px);
}

.hamburger.open .burger-lines {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.hamburger.open .burger-lines::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.hamburger.open .burger-lines::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* Mobile navigation */
@media screen and (max-width: 480px) {
    .nav-btn {
        background-color: var(--secondary-bg-color);
        padding-inline: 2rem;
        padding-block: .5rem;
    }

    .nav-btn:hover {
        text-decoration: underline 1px white;
        text-underline-position: under;
    }
}

/* Medium/large screen navigation */
@media screen and (min-width: 768px) {
    .nav-btn:hover .dropdown-content {
        display: grid;
        background-color: var(--alt-bg-color);
    }

    .dropdown-content a:hover {
        background-color: var(--secondary-bg-color);
        color: white;
    }

    .dropdown-content a:active {
        color: var(--primary-text-color);
        text-decoration: none;
        background-color: var(--alt-bg-color-dark);
        text-decoration: underline 2px var(--primary-text-color);
        text-underline-position: under;
    }

    .nav-links>li>a:hover {
        text-decoration: underline 2px white;
        text-underline-position: under;
    }

    .nav-links>li>a:active {
        background-color: var(--primary-bg-color);
    }
}

/* Image and text sliders */
/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: 0;
  }
  
  /* Caption text */
  .slide-text {
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .slide-images {
    object-fit: contain;
    width: 100vw;
    height: 75vh;
}

.testimonial {
    height: 400px;

}

@media screen and (max-width: 480px) {
    .slide-images {
        height: 40vh;
        width: 100vw;
    }
}

@media screen and (min-width: 768px) {
    .testimonial {
        height: 35vh;
        width: 95vw;
    }
}

@media screen and (min-width: 1024px) {
    .testimonial {
        height: 20vh;
        width: 95vw;
    }
}

  /* The dots/bullets */
  .dot, .dots-2 {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--secondary-bg-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot-alt {
      height: 15px;
      width:15px;
      margin: 0 2px;
      background-color: #000000;
      border-radius: 20%;
      display: inline-block;
      transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: var(--alt-bg-color);
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/* Custom animations */
.duration-1 {
    animation-duration: .5s;
}

/* Hide horizontal scrollbars caused by graphics and animations */
body {
    overflow-x: hidden;
}

/* Embedded posts on social media */

.fb-embed {
    height: 80vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .tweet-embed {
        width: 75%;
    }

    .youtube-embed {
        width: 90vw;
        height: 55vh;
    }
}

/* Custom hr */
.custom-hr {
    border-color: var(--alt-bg-color);
    border-width: 2px;
}

/* Text shadow */
.heading-text-shadow {
    text-shadow: 0px 5px 5px #A1A1A1;
}

.paragraph-text-shadow {
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 0px 2px 2px rgba(206,206,206,0.5);
}

/* Links */
.link-text {
    color: var(--alt-text-color-3);
    text-decoration: none;
}

.link-text:active {
    color: var(--alt-text-color-2);
}